
<div class="container">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input type="text" class="form-control" [(ngModel)]="Name">
      <div  class="form-text" *ngIf=" Name.length < 3 && Name; else trueblock"  style="color: red; ">
        Name > 3

      </div>
      <ng-template #trueblock>
        <div style="green">valid</div>
      </ng-template>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Age</label>
      <input type="number" class="form-control" [(ngModel)]="Age">
      <div  class="form-text" *ngIf="Age > 44 || Age < 15 && Age; else trueblock3" style="color: red;">
        15< Age < 44

      </div>
      <ng-template #trueblock3>
        <div style="green">valid</div>
      </ng-template>
    </div>
    <input type="button" class="btn btn-primary" value="ADD" (click)="chg()">
</div>
  